/* 为了不破坏element原有样式 
所有涉及到原有组件样式修改 统一添加use-theme自定义属性 */

/* el-dialog */
.el-dialog[use-theme] .el-dialog__header{
    margin: 0px;
}

.el-dialog[use-theme] .el-dialog__body{
    padding: 10px 20px;
}



@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


